header {
  position: relative; }

#question form {
  margin-top: 2.571em; }
  #question form fieldset {
    padding: 0.643em;
    margin: 0 0 1.286em 0;
    border: 1px dotted #dddddd; }
  #question form dl {
    margin-top: 0; }
  #question form dt,
  #question form dd {
    text-align: left;
    display: block;
    float: none;
    width: auto;
    margin: 0 1.929em 0 0;
    padding: 0;
    border: 1px solid;
    position: static;
    left: 0; }
  #question form dt {
    position: static;
    left: 0;
    top: 0;
    z-index: 5;
    padding-bottom: 0;
    border: none;
    background: none;
    /*INLINE BLOCK FOR IE MAC */
    display: inline-block;
    /* Hide from IE Mac (REVERT TO DISPLAY BLOCK FOR ALL OTHERS) \ */
    display: block;
    /* End hide from IE Mac */ }
    #question form dt:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #question form dt {
      height: 1px; }
    #question form dt label {
      font-size: 1.214em;
      line-height: 1.059em;
      margin-bottom: 1.059em;
      font-family: "Monaco", "Courier", "Courier New", monospace;
      font-weight: bold;
      margin: 0;
      padding: 0.265em 1.286em;
      float: none;
      display: block;
      color: white;
      background-color: #2fa3cd; }
  #question form dd {
    min-height: 1.929em;
    position: relative;
    padding: 0.643em 1.929em 0.643em 1.929em;
    background-color: #f4f4f4;
    border-color: #c1c1c1; }
    #question form dd input,
    #question form dd select {
      position: relative;
      width: 100%;
      z-index: 6; }
  #question form .buttons {
    padding-top: 1.286em; }
  #question form .single {
    clear: both;
    width: 100%; }
  #question form .double {
    width: 50%;
    float: left; }
    #question form .double.large {
      width: 66.667%; }
    #question form .double.small {
      width: 33.333%; }
  #question form .tripple {
    width: 33.333%;
    float: left; }
  #question form .quadrupple {
    width: 25%;
    float: left; }
  #question form .quintipple {
    width: 20%;
    float: left; }
  #question form .ui_groups {
    /*INLINE BLOCK FOR IE MAC */
    display: inline-block;
    /* Hide from IE Mac (REVERT TO DISPLAY BLOCK FOR ALL OTHERS) \ */
    display: block;
    /* End hide from IE Mac */ }
    #question form .ui_groups:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #question form .ui_groups {
      height: 1px; }
  #question form .ui_group {
    /*INLINE BLOCK FOR IE MAC */
    display: inline-block;
    /* Hide from IE Mac (REVERT TO DISPLAY BLOCK FOR ALL OTHERS) \ */
    display: block;
    /* End hide from IE Mac */ }
    #question form .ui_group:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #question form .ui_group {
      height: 1px; }
  #question form .ui_group.single dl dt {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: #52a9c8;
    border-right-color: #3c93b3; }
  #question form .ui_group.single dl dd {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: #d6d6d6;
    border-right-color: #c1c1c1; }
  #question form .ui_group.single dl.single dt,
  #question form .ui_group.single dl.col1 dt {
    border-left-color: #3c93b3; }
  #question form .ui_group.single dl.single dd,
  #question form .ui_group.single dl.col1 dd {
    border-left-color: #c1c1c1; }
  #question form .ui_group.single dl.col1 {
    clear: left; }
  #question form .ui_group.double dl.single,
  #question form .ui_group.double dl.col1 {
    clear: left; }
  #question form .ui_group.double dl dt {
    border-left-color: #52a9c8;
    border-right-color: #3c93b3; }
  #question form .ui_group.double dl dd {
    border-left-color: #d6d6d6;
    border-right-color: #c1c1c1; }
  .rgba #question form .ui_group.double dl dt, .rgba #question form .ui_group.double dl dd {
    border-left-color: rgba(187, 187, 187, 0.4);
    border-right-color: rgba(102, 102, 102, 0.4); }
  #question form .ui_group.double.col1 dl.single dt,
  #question form .ui_group.double.col1 dl.col1 dt {
    border-left-color: #3c93b3; }
  #question form .ui_group.double.col1 dl.single dd,
  #question form .ui_group.double.col1 dl.col1 dd {
    border-left-color: #c1c1c1; }
  .rgba #question form .ui_group.double.col1 dl.single dt, .rgba #question form .ui_group.double.col1 dl.single dd, .rgba
  #question form .ui_group.double.col1 dl.col1 dt, .rgba
  #question form .ui_group.double.col1 dl.col1 dd {
    border-left-color: rgba(102, 102, 102, 0.4); }
  #question form .ui_group.tripple dl.single,
  #question form .ui_group.tripple dl.col1 {
    clear: left; }
  #question form .ui_group.tripple dl dt {
    border-left-color: #52a9c8;
    border-right-color: #3c93b3; }
  #question form .ui_group.tripple dl dd {
    border-left-color: #d6d6d6;
    border-right-color: #c1c1c1; }
  .rgba #question form .ui_group.tripple dl dt, .rgba #question form .ui_group.tripple dl dd {
    border-left-color: rgba(187, 187, 187, 0.4);
    border-right-color: rgba(102, 102, 102, 0.4); }
  #question form .ui_group.tripple.col1 dl.single dt,
  #question form .ui_group.tripple.col1 dl.col1 dt {
    border-left-color: #3c93b3; }
  #question form .ui_group.tripple.col1 dl.single dd,
  #question form .ui_group.tripple.col1 dl.col1 dd {
    border-left-color: #c1c1c1; }
  .rgba #question form .ui_group.tripple.col1 dl.single dt, .rgba #question form .ui_group.tripple.col1 dl.single dd, .rgba
  #question form .ui_group.tripple.col1 dl.col1 dt, .rgba
  #question form .ui_group.tripple.col1 dl.col1 dd {
    border-left-color: rgba(102, 102, 102, 0.4); }
  #question form .ui_group.quadrupple dl.single,
  #question form .ui_group.quadrupple dl.col1 {
    clear: left; }
  #question form .ui_group.quadrupple dl dt {
    border-left-color: #52a9c8;
    border-right-color: #3c93b3; }
  #question form .ui_group.quadrupple dl dd {
    border-left-color: #d6d6d6;
    border-right-color: #c1c1c1; }
  .rgba #question form .ui_group.quadrupple dl dt, .rgba #question form .ui_group.quadrupple dl dd {
    border-left-color: rgba(187, 187, 187, 0.4);
    border-right-color: rgba(102, 102, 102, 0.4); }
  #question form .ui_group.quadrupple.col1 dl.single dt,
  #question form .ui_group.quadrupple.col1 dl.col1 dt {
    border-left-color: #3c93b3; }
  #question form .ui_group.quadrupple.col1 dl.single dd,
  #question form .ui_group.quadrupple.col1 dl.col1 dd {
    border-left-color: #c1c1c1; }
  .rgba #question form .ui_group.quadrupple.col1 dl.single dt, .rgba #question form .ui_group.quadrupple.col1 dl.single dd, .rgba
  #question form .ui_group.quadrupple.col1 dl.col1 dt, .rgba
  #question form .ui_group.quadrupple.col1 dl.col1 dd {
    border-left-color: rgba(102, 102, 102, 0.4); }
  #question form .ui_group.quintipple dl.single,
  #question form .ui_group.quintipple dl.col1 {
    clear: left; }
  #question form .ui_group.quintipple dl dt {
    border-left-color: #52a9c8;
    border-right-color: #3c93b3; }
  #question form .ui_group.quintipple dl dd {
    border-left-color: #d6d6d6;
    border-right-color: #c1c1c1; }
  .rgba #question form .ui_group.quintipple dl dt, .rgba #question form .ui_group.quintipple dl dd {
    border-left-color: rgba(187, 187, 187, 0.4);
    border-right-color: rgba(102, 102, 102, 0.4); }
  #question form .ui_group.quintipple.col1 dl.single dt,
  #question form .ui_group.quintipple.col1 dl.col1 dt {
    border-left-color: #3c93b3; }
  #question form .ui_group.quintipple.col1 dl.single dd,
  #question form .ui_group.quintipple.col1 dl.col1 dd {
    border-left-color: #c1c1c1; }
  .rgba #question form .ui_group.quintipple.col1 dl.single dt, .rgba #question form .ui_group.quintipple.col1 dl.single dd, .rgba
  #question form .ui_group.quintipple.col1 dl.col1 dt, .rgba
  #question form .ui_group.quintipple.col1 dl.col1 dd {
    border-left-color: rgba(102, 102, 102, 0.4); }
  #question form .ui_group.bottomless fieldset {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom-style: none; }
  #question form .ui_group.topless fieldset {
    padding-top: 0;
    margin-top: 0;
    border-top-style: none; }

#main-footer {
  /*INLINE BLOCK FOR IE MAC */
  display: inline-block;
  /* Hide from IE Mac (REVERT TO DISPLAY BLOCK FOR ALL OTHERS) \ */
  display: block;
  /* End hide from IE Mac */ }
  #main-footer:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #main-footer {
    height: 1px; }

#feedback {
  display: none; }
